:root {
  --color-primary-light: rgb(25, 146, 212);
  --color-primary-dark: rgb(10, 61, 88);
  --color-red: rgb(185, 22, 22);
  --sidebar-bg: rgb(51, 51, 51);
  --header-bg: white;
  --projects-bg: rgb(226, 232, 240);
  --shadow-dark: 0 3rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 3rem 6rem rgba(0, 0, 0, 0.06);
  --shadow-low: rgba(58, 57, 57, 0.24) 0px 3px 8px;
  --king: "Loved by the King";
  --saira: "Saira Condensed"; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Poppins"; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.container {
  display: grid;
  grid-template-columns: 33rem 1fr;
  grid-template-rows: min-content min-content;
  max-width: 161rem;
  margin: 8rem auto;
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
  overflow: hidden;
  border-radius: 2rem; }

body {
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.sidebar {
  background-color: var(--sidebar-bg);
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column; }
  .sidebar__logo {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin: 3rem; }
    .sidebar__logo--text {
      font-family: var(--saira);
      font-weight: 600;
      color: white;
      font-size: 4rem;
      margin-left: 0.5rem; }
  .sidebar__links {
    fill: white; }
    .sidebar__links--flex {
      display: flex;
      align-items: center;
      font-weight: bold;
      color: white;
      font-size: 2.2rem;
      box-shadow: inset 0 0 0 0 var(--sidebar-bg);
      line-height: 1;
      cursor: pointer;
      transition: ease-out 0.2s; }
      .sidebar__links--flex:hover {
        box-shadow: inset 33rem 0 0 0 var(--color-red); }
  .sidebar__settings {
    margin: 3rem 0; }

.logo {
  height: 4.5rem;
  width: 4.5rem;
  fill: white; }

.link {
  height: 3rem;
  width: 3rem;
  fill: white; }

.link__container {
  margin: 1.3rem;
  margin-left: 3.5rem;
  margin-right: 2.5rem; }

.text__container {
  margin: 1rem 0; }

.header {
  background-color: var(--header-bg);
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-low);
  z-index: 100; }
  .header__top {
    display: flex;
    justify-content: space-between;
    margin: 3rem 4rem; }
  .header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 4rem;
    margin-top: 0; }

.main-icons {
  fill: black;
  height: 3rem;
  width: 3rem; }

button {
  background: none;
  border: none; }

.search__bar {
  display: flex;
  align-items: center;
  gap: 1.5rem; }
  .search__bar--input {
    flex-grow: 1; }
    .search__bar--input input {
      border-radius: 3rem;
      border: none;
      padding-left: 2rem;
      background-color: var(--projects-bg);
      width: 33vw;
      height: 3.5rem; }

.user__stats {
  display: flex;
  gap: 2.2rem;
  align-items: center;
  margin: 0 4rem; }
  .user__stats--avatar {
    border-radius: 50%;
    overflow: hidden;
    height: 6rem;
    width: 6rem; }
  .user__stats--image {
    height: 6rem;
    width: 6rem; }
  .user__stats--name {
    font-family: var(--saira);
    font-size: 2.4rem;
    font-weight: 600; }

.welcome__message {
  display: flex;
  gap: 2rem;
  align-items: center; }

.welcome__user {
  display: flex;
  flex-direction: column;
  justify-items: center; }
  .welcome__user--greeting {
    font-family: var(--king);
    font-size: 3.3rem;
    line-height: 3rem; }
  .welcome__user--name {
    font-family: var(--saira);
    font-size: 3rem;
    font-weight: 600;
    line-height: 3rem; }

.avatar__medium {
  border-radius: 15041990px;
  overflow: hidden;
  height: 8rem;
  width: 8rem; }
  .avatar__medium--img {
    height: 8rem;
    width: 8rem; }

.post__buttons {
  display: flex;
  gap: 3rem; }
  .post__buttons--button {
    font-size: 2.4rem;
    font-family: var(--king);
    cursor: pointer;
    color: white;
    border-radius: 1rem;
    line-height: 3rem;
    padding: 0.6rem 3.3rem;
    background-color: var(--color-red);
    text-align: center;
    transition: all 0.2s; }
    .post__buttons--button:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .post__buttons--button:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
    .post__buttons--button:active, .post__buttons--button:focus {
      outline: none;
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.main__board {
  background-color: var(--projects-bg);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  min-height: 80vh;
  display: grid;
  grid-template-columns: 1.2fr 1.2fr 1fr;
  grid-auto-rows: min-content; }

.title {
  font-family: var(--king);
  font-size: 3.5rem;
  line-height: 4rem; }

.projects {
  grid-column: 1 / 3;
  background-color: var(--projects-bg);
  margin-bottom: 5rem; }

.side {
  grid-column: 3 / 4;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  margin-right: 3rem; }

.projects__group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 3rem; }

.projects__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.8rem; }

.project {
  background-color: #fefefe;
  border-radius: 1rem;
  border-left: 1rem solid #b91616;
  width: 42rem;
  height: 24rem;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-low); }
  .project__info {
    display: flex;
    flex-direction: column;
    max-height: 70%;
    min-height: 70%;
    margin: 3rem 2rem 0rem 3rem; }
    .project__info--title {
      font-family: var(--saira);
      font-weight: 600;
      font-size: 2.5rem;
      max-height: 25%;
      min-height: 25%;
      overflow: hidden;
      text-overflow: ellipsis; }
    .project__info--desc {
      font-family: var(--saira);
      font-weight: bold;
      font-size: 1.5rem;
      color: #636363;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden; }
  .project__icons {
    display: flex;
    gap: 3rem;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3rem; }
    .project__icons > svg {
      cursor: pointer;
      height: 3rem;
      width: 3rem;
      fill: #333333; }

.announcements {
  display: flex;
  flex-direction: column;
  gap: 2rem; }
  .announcements__container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    box-shadow: var(--shadow-low); }
    .announcements__container > :first-child {
      padding-top: 1rem; }
    .announcements__container > :last-child {
      padding-bottom: 1rem; }

.annon__item {
  display: flex;
  flex-direction: column;
  font-family: var(--saira);
  padding: 1.5rem 2rem 1.5rem 3rem;
  border-bottom: 1px solid #d2d2d2; }
  .annon__item--title {
    font-family: inherit;
    font-weight: 600;
    font-size: 2rem; }
  .annon__item--content {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.3rem; }

.trending {
  display: flex;
  flex-direction: column; }
  .trending__container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    border-radius: 1rem;
    box-shadow: var(--shadow-low); }
  .trending > :first-child,
  .trending > :last-child {
    padding-top: 2rem;
    padding-bottom: 2rem; }

.trend__unit {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.9rem 2rem 1rem 3rem; }
  .trend__unit--user {
    display: flex;
    flex-direction: column;
    font-family: var(--saira); }

.handle {
  font-family: inherit;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.7rem; }

.project__name {
  font-family: inherit;
  font-size: 1.5rem;
  color: #6d6d6d;
  letter-spacing: 1px;
  font-weight: bold; }

.avatar__small {
  height: 5rem;
  width: 5rem;
  border-radius: 1504990px;
  overflow: hidden; }
  .avatar__small--img {
    height: 5rem;
    width: 5rem; }
